@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import 'button.scss';
@import 'color.scss';

* {
  font-family: 'Ubuntu', sans-serif !important;
  padding: 0;
  margin: 0;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-image: url('/assets/img/background.png');
  header {
    transition: 5s;
    color: black !important;
  }
  nav {
    transition: 1s;
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    &.scrolled {
      background-color: rgb(0, 151, 156);
      color: black;
      position: fixed;
      width: 100%;
      margin-bottom: 5rem;
      .left,
      .right {
        color: rgb(0, 0, 0);
        ul {
          li {
            a {
              color: black;
              font-weight: 850;
            }
          }
        }
      }
    }
    .left {
      padding-left: 2rem;
      font-size: 1.5rem;
      color: aqua;
    }
    .right {
      ul {
        display: flex;
        flex-direction: row;
        li {
          padding: 2rem;
          list-style: none;
          &:hover {
            background-color: rgb(0, 119, 119);
          }
          &:last-child:hover {
            background-color: rgb(2, 172, 121);
          }
          a {
            background: none;
            text-decoration: none;
            list-style: none;
          }
        }
      }
    }
  }
  main {
    // transition: 1s;
    margin: 0 160px 0 160px;
    background-color: rgba(0, 0, 0, 0.781);
    #wellcome {
      width: 100%;
      height: 1000px;
      transition: 1s;
      h1 {
        transition: 1s;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        font-size: 10vw;
        font-weight: 75;
      }
      .text {
        width: 33%;
        height: 150px;
        display: flex;
        margin-right: 33%;
        margin-left: 33%;
        justify-content: center;
        p {
          padding: 0.5vw 0.5vw 0.5vw 0;
          font-size: 30px;
          &:nth-child(2) {
            padding-right: 0;
          }
        }
      }
      .buttons {
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        .social {
          padding: 2rem;
        }
        .scroll {
          margin-left: 50%;
          margin-right: 50%;
          background-color: red;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .mouse {
            margin: 0;
            padding: 0;
            width: 45px;
            height: 45px;
          }
          .wheel {
            transition: 1s;
            position: relative;
            top: -10px;
            left: -27px;
            width: 10px;
            height: 10px;
          }
          &:hover {
            .wheel {
              top: 10px;
            }
          }
        }
      }
    }
    #about {
      // transition: 1s;
      padding-top: 2rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      h2 {
        // transition: 1s;
        width: 100%;
        padding: 5rem;
        align-items: center;
        justify-items: center;
        justify-content: center;
        font-size: 3vw;
      }
      .text-era {
        display: flex;
        justify-content: space-between;
        .left {
          padding-left: 5vw;
          display: flex;
          p {
            align-items: center;
            justify-content: center;
            justify-items: center;
            padding: 0.5vw 0.5vw 0.5vw 0;
            font-size: 35px;
            &:nth-child(2) {
              padding-right: 0;
            }
          }
        }
        .right {
          font-size: 20px;
          padding: 0;
          margin: 0;
          padding-right: 5vw;
          width: 25%;
          height: 100%;
        }
      }
    }
  }
}
